[submodule "tests/gid"]
	path = tests/gid
	url = https://github.com/dkazankov/gid_95_ravenscar
[submodule "tools"]
	path = tools
	url = https://github.com/dkazankov/NNEF-CPP-Tools
[submodule "NNEF-Tools"]
	path = NNEF-Tools
	url = https://github.com/dkazankov/NNEF-Tools
